<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Mission to Mars</title>
     <!-- refer to css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <!-- header and scraping button -->
        <div class="jumbotron tex-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find the lastest news about Mars</a></p>
        </div>
        <!-- News title  -->
        <div class="row">
            <div class="col-md-12">
                <h2>Latest Mars News</h2> 
            </div>
        </div>
        <!-- News content -->
        <div class="row">
            <div class="col-md-12">
                <h4>{{mars_data.news_title}}</h4>
                <p><h6>{{mars_data.news_p}}</h6></p>
            </div>
        </div>
        <!-- Feature image displace -->
        <div class="row">
            <div class="col-6">
            <h2>Featured Mars Image</h2>
            <img class="img-fluid" src="{{mars_data.featured_image_url}}" alt="Featured image of Mars">
            </div>
        <!-- Facts table -->
            <div class="col-6">
            <div class="container">
                <div class="box">
                    <h3>Mars Facts</h3>
                    <div class="table table-striped">
                        {{mars_data.mars_fact | safe}}
                    </div>
                </div>
            </div>
            </div>
        </div>
           <!-- Hemispheres -->
    <!-- title -->
    <div class="row">
        <div class="col-md-12">
            <h3>Mars Hemispheres</h3>
            <hr>
        </div>
    </div>
    <!-- cards to hold each pictures -->
    <div class="row row-cols-4">
    
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[0].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[0].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[0].title}}</h5>
                </div>
              </div>
        </div>  

        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[1].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[1].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[1].title}}</h5>
                </div>
              </div>
        </div>  

        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[2].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[2].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[2].title}}</h5>
                </div>
              </div>
        </div>  

        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[3].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[3].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[3].title}}</h5>
                </div>
              </div>
        </div>  
        <hr>
    </div>
    </div>

 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>