<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Mission to Mars</title>
     <!-- refer to bootstrap style sheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .jumbotron {padding: 3rem;
        margin-top: 1rem ;
        margin-bottom: 2rem;
        background-color: rgb(34, 25, 21)}
        
        .btn-primary { background-color: rgb(195, 105, 15);
        size: 10rem;}

        h1 {
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bolder;
        color: white}
        
        h2 , h3 , h4, h5, h6 {
        font-family: 'Courier New', Courier, monospace;}

        .card-title {font-weight: bold;}

        p {font-family: 'Courier New', Courier, monospace;}

        .box {
            padding: 5px;
        }
        .table , th, td {
        border: 1px black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        text-align: left;}
   
        body {background-color: snow;}

        .card {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <!-- header and scraping button -->
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find the lastest news about Mars</a></p>
        </div>
        <!-- News title  -->
        <div class="row">
            <div class="col-md-12">
                <h2 style="font-weight: bold;">Latest Mars News</h2> 
                <hr style='height: 5px;'>
            </div>
        </div>
        <!-- News content -->
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 2rem;">
                <h4 style="font-weight: bold;">{{mars_data.news_title}}</h4>
                <p><h6>{{mars_data.news_p}}</h6></p>
            </div>
        </div>
        <hr>
        <!-- Feature image displace -->
        <div class="row">
            <div class="col-6" style="padding-bottom: 5rem;">
            <h2 style="font-weight: bold;">Featured Mars Image</h2>
            <img class="img-fluid img-thumbnail" src="{{mars_data.featured_image_url}}" alt="Featured image of Mars">
            </div>
        <!-- Facts table -->
            <div class="col-6">
            <div class="container">
                <div class="box">
                    <h3 style="font-weight: bold; ">Mars Facts</h3>
                    <div class="table table-striped">
                        {{mars_data.mars_fact | safe}}
                    </div>
                </div>
            </div>
            </div>
        </div>
           <!-- Hemispheres -->
    <!-- title -->
    <div class="row">
        <div class="col-md-12">
            <h2 style="font-weight: bold; text-align: center;">Mars Hemispheres</h2>
            <hr>
        </div>
    </div>
    <!-- cards to hold each pictures -->
    <div class="row row-cols-4" style="padding-bottom: 5rem;">
    
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[0].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[0].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[0].title}}</h5>
                </div>
              </div>
        </div>  

        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[1].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[1].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[1].title}}</h5>
                </div>
              </div>
        </div>  

        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[2].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[2].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[2].title}}</h5>
                </div>
              </div>
        </div>  

        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src={{mars_data.hemisphere_image_url[3].img_url}} class="card-img-top img-fluid img-thumbnail" alt="{{mars_data.hemisphere_image_url[3].title}}">
                <div class="card-body">
                    <h5 class="card-title">{{mars_data.hemisphere_image_url[3].title}}</h5>
                </div>
              </div>
        </div>  
        <hr>
    </div>
    <footer class="bg-dark text-center text-white" >
        <div class="text-center p-3" style="background-color: rgb(34, 25, 21); font-family: 'Courier New', Courier, monospace;">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/" style="font-family: 'Courier New', Courier, monospace;">
            Vilaysack Khonsavanh</a>
        </div>
    </footer>
    </div>

 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>